<p> Hello </p>

{{#if currentUser.firstSignin}}
  USER is first time Signed
  <br>
  AREA where the form get displayed

  {{else}}
  The user is not first time signed in
  <br>
  Show Bugs

{{/if}}


