<h1>Hello {{currentUser.email}}</h1>

<p> Show user information here</p>


<p>My Bugs: show all the reported bugs by the user... if the User does not have any bugs show "You still don't have any Bugs reported 😢 Wanna report one now? - <button><a href="/addBug"> Report a Bug</a></button></p>

<button><a href="/bugArea">See all the Bugs</a></button></p>